<div class="w-full bg-[#003A70] p-6 flex flex-col items-center justify-center">
    <div>
        <img src="../../../assets/images/contpaqi.png" alt="">
    </div>
    <div class="md:max-w-[50vw] md:mt-6">
        <p class="text-white text-justify">
            PRACOFI® se ha caracterizado por mantenerse siempre vigente en el mercado, innovando de manera constante el desarrollo de sus procesos, servicios y sobre todo ofreciendo un mundo de soluciones contables y tecnológicas. Por eso te ofrecemos asesorías personalizadas en los siguientes apartados de CONTPAQi.
        </p>
    </div>
    <div class="overflow-x-scroll md:overflow-hidden flex flex-row md:flex md:justify-center md:mt-6">
        <img src="../../../assets/images/contapaq1.png" alt="" class="md:w-[32vw]">
        <img src="../../../assets/images/contpaq2.png" alt="" class="md:w-[32vw]">
        <img src="../../../assets/images/contpaq3.png" alt="" class="md:w-[32vw]">
    </div>
    
    
</div>
