<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://flowbite.com/" class="flex items-center">
                  <img src="../../../assets/images/pracofi.png" class="w-40" alt="FlowBite Logo" />                  
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Extenciones</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mt-4">
                          <p class="hover:underline">Administración: 0</p>
                      </li>
                      <li>
                          <p href="https://tailwindcss.com/" class="hover:underline">Direccion: 1</p>
                      </li>
                      <li>
                        <p class="hover:underline">Contabilidad: 2</p>
                    </li>
                    <li>
                        <p class="hover:underline">Recursos Humanos: 3</p>
                    </li>
                    <li>
                        <p class="hover:underline">Sistemas: 4</p>
                    </li>                    
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Telefonos</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="">
                          <a href="tel:+523333168590" class="hover:underline "> (33) 33 16 85 90</a>
                      </li>
                      <li>
                          <a href="tel:+523330448593" class="hover:underline">(33) 30 44 85 93</a>
                      </li>
                  </ul>
                  <h2 class="mt-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Celulares/Whatsapp</h2>
                  <ul class="text-gray-500 mt-4 dark:text-gray-400 font-medium">
                    <li class="">
                        <a href="tel:+523329739612" class="hover:underline ">Contabilidad: (33) 2973 9612</a>
                    </li>
                    <li>
                        <a href="tel:+523329737695" class="hover:underline">Sistemas: (33) 2973 7635</a>
                    </li>
                    <li>
                        <a href="tel:+523311584282" class="hover:underline">Administración: (33) 1158 4282</a>
                    </li>
                </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Oficinas</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a ref="https://goo.gl/maps/TY7bSRAwADYuFRUB9" class="hover:cursor-pointer hover:underline">Calle Isla Cancún No. 2518, Jardines <br>del Sur Guadalajara Jalisco CP 44950</a>                         
                      </li>
                      <li class="mb-4">
                          <p class="hover:underline">Calle Cuauhtémoc #240, Colonia <br>la Ascensión, Cocula Jalisco CP 48500</p>
                      </li>
                      <li>
                        <a href="https://g.page/wework-av-de-las-americas-1254?share" class="hover:underline">Av. de las Américas 1254, Country Club, <br>44610 Guadalajara, Jal.</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />      
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="">
            <a href="https://www.pracofi.com/Terminos.pdf" class="text-gray-500"> Terminos y Condiciones </a>
        </div>
        <div class="">
            <a href="https://www.pracofi.com/AvisoP.pdf" class="text-gray-500"> Aviso de Privacidad </a>
        </div>
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://www.kinymuuk.com/" class="hover:underline">Kinymuuk</a>. All Rights Reserved.
          </span>
          
      </div>
    </div>
</footer>
