<div class="w-full">
    <img src="../../../assets/images/Lideres.png" alt="" class="md:w-full md:object-cover md:h-[100vh]">    
    <div class="md:grid md:grid-cols-2 md:pt-12">
        <div class="p-6 md:p-0 md:max-w-[40vw] md:mx-auto md:my-auto flex flex-col justify-center">
            <!-- Mision -->
            <div class="mb-4 md:mb-0">
                <div class="md:p-6 md:flex">
                    <button class="bg-[#003A70] md:w-12 p-2 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-white">
                            <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                        </svg>              
                    </button>
                    <span class="font-bold md:mt-2 md:mx-2 text-2xl"> Misión </span>            
                </div>
                <div class="mt-4 md:mt-0 md:px-6">
                    <p class="text-justify">
                        Somos un grupo de personas profesionistas dedicadas a brindar servicios contables, fiscales y administrativos, comprometidos en proporcionar al sector empresarial un alto nivel de confianza, conocimiento, experiencia y protección patrimonial.
                    </p>
                </div>   
            </div>         
            <!-- Vision -->
            <div class="mt-4 md:mt-0">
                <div class=" md:p-6 md:flex">
                    <button class="bg-[#003A70] md:w-12 p-2 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-white">
                            <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                        </svg>              
                    </button>
                    <span class="font-bold md:mt-2 md:mx-2 text-2xl"> Visión </span>            
                </div>
                <div class="mt-4 md:mt-0 md:px-6">
                    <p class="text-justify">
                        Permanecer en el sector empresarial como una organización líder, generando confianza, seguridad y proyecciones a largo plazo, siendo reconocidos por nuestro compromiso, responsabilidad y formalidad.
                    </p>
                </div>
            </div>            
        </div>        
        <div class="p-4 md:p-6 flex justify-center">
            <img src="https://st2.depositphotos.com/3591429/11644/i/450/depositphotos_116441652-stock-photo-successful-business-people.jpg" alt="" class="rounded-lg md:min-w-[40vw]">
        </div>        
    </div>
    <div class="md:flex md:justify-center">
        <img src="../../../assets/images/valores.png" alt="">    
    </div>
</div>