


<!-- Agregar un usuario nuevo -->
<div class="p-4 sm:ml-64">
    <div class="bg-gray-800 p-6 rounded-lg">
        <span class="text-white font-bold text-lg"> 
            Agregar Usuario
        </span>   
        <form #createUserForm="ngForm" (submit)="createUser(createUserForm)">
            <div class="grid grid-cols-2 gap-3">            
                <div class="flex flex-col md:pt-4">
                    <span class="text-white font-bold mb-2"> Nombre </span>
                    <input name="name" type="text" placeholder="Nombre Completo" class="placeholder-gray-600 md:p-2 rounded-lg" ngModel>
                </div>
                <div class="flex flex-col md:pt-4">
                    <span class="text-white font-bold mb-2"> Apellidos </span>
                    <input name="surname" type="text" placeholder="Apellidos" class="placeholder-gray-600 md:p-2 rounded-lg" ngModel>
                </div>    
                <div class="flex flex-col">
                    <span class="text-white font-bold mb-2"> Correo Electronico </span>
                    <input name="email" type="email" placeholder="Nombre Completo" class="placeholder-gray-600 md:p-2 rounded-lg" ngModel>
                </div>
                <div class="flex flex-col">
                    <span class="text-white font-bold mb-2"> Contrasñea </span>
                    <input name="password" type="password" placeholder="Apellidos" class="placeholder-gray-600 md:p-2 rounded-lg" ngModel>
                </div>
                <div class="">
                    
                </div> 
                <div class="flex justify-end">
                    <button class="w-40 hover:bg-[#003A70] text-white p-2 rounded-lg duration-200 font-bold">
                        Agregar
                    </button>
                </div>                
            </div>
        </form>             
    </div>
</div>

<!-- Se mostrara para editar el usuario -->
<div *ngIf="selectedUser" class="p-4 sm:ml-64">
    <div class="bg-gray-800 p-6 rounded-lg">
        <span class="text-white font-bold text-lg">
            Editar Usuario
        </span>   
        <form>
            <div class="grid grid-cols-2 gap-3">            
                <div class="flex flex-col md:pt-4">
                    <span class="text-white font-bold mb-2"> Nombre </span>
                    <input name="name" type="text" placeholder="Nombre Completo" class="placeholder-gray-600 md:p-2 rounded-lg" [(ngModel)]="selectedUser.name" ngModel>
                </div>
                <div class="flex flex-col md:pt-4">
                    <span class="text-white font-bold mb-2"> Apellidos </span>
                    <input name="surname" type="text" placeholder="Apellidos" class="placeholder-gray-600 md:p-2 rounded-lg" [(ngModel)]="selectedUser.surname" ngModel>
                </div>    
                <div class="flex flex-col">
                    <span class="text-white font-bold mb-2"> Correo Electronico </span>
                    <input name="email" type="email" placeholder="Nombre Completo" class="placeholder-gray-600 md:p-2 rounded-lg" [(ngModel)]="selectedUser.email" ngModel>
                </div>
                <div class="flex flex-col">
                    <span class="text-white font-bold mb-2"> Contrasñea </span>
                    <input name="password" type="password" placeholder="Apellidos" class="placeholder-gray-600 md:p-2 rounded-lg" [(ngModel)]="selectedUser.password" ngModel>
                </div>
                <div class="">
                    
                </div> 
                <div class="flex justify-end">
                    <button class="w-40 bg-red-600 hover:bg-red-800 text-white p-2 rounded-lg duration-200 font-bold" (click)="cancelEdit()">
                        Cancelar
                    </button>
                    <button class="w-40 hover:bg-[#003A70] text-white p-2 rounded-lg duration-200 font-bold" (click)="saveChanges()">
                        Guardar Cambios
                    </button>
                </div>                
            </div>
        </form>             
    </div>
</div>

<div class="md:p-4">    
    <div *ngIf="dataSource" class="sm:ml-64 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Correo Electronico
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Puesto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Accion  
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of dataSource" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.name }}
                    </th>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.surname }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ user.role }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex gap-3" (click)="editUser(user)">
                        <button class="hover:bg-[#003A70] p-2 duration-200 rounded-lg">
                            Editar
                        </button>
                        <button class="hover:bg-red-600 p-2 duration-200 rounded-lg" (click)="deleteUser(user._id)">
                            Eliminar
                        </button>
                    </td>
                </tr>                               
            </tbody>            
        </table>
    </div>    
</div>
  