<div class="w-full bg-slate-200">
    <img src="../../../assets/images/servicios-background.jpg" alt="" class="md:w-full md:h-[100vh] object-cover">
    <div class="flex justify-center p-4">
        <h1 class="text-2xl mb-4 md:text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"> Nuestros <span class="underline underline-offset-3 decoration-8 decoration-[#003A70]">Servicios</span></h1>
    </div>
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw]">
        <img src="https://st2.depositphotos.com/2931363/11197/i/450/depositphotos_111977884-stock-photo-two-men-signing-papers.jpg" alt="" class="rounded-t-lg md:rounded-l-lg shadow-md">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-r-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="text-xl font-bold md:text-2xl uppercase"> Contabilidad </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Registro de transacciones de las empresas en un periodo determinado
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Análisis de la información contable y financiera
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Cálculo y determinación de impuestos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Cumplimiento de obligaciones fiscales
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Elaboración y presentación de estados financieros básicos
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Facturacion -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw] md:justify-end">
        <img src="https://static9.depositphotos.com/1594308/1162/i/450/depositphotos_11629373-stock-photo-pressure-of-work.jpg" alt="" class="rounded-t-lg md:rounded-r-lg md:order-last">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-l-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Facturacion </span>
            </div>              
            <ul>                
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Emisión y timbrado de Comprobantes fiscales (factura anexo 20, factura global, recibo electrónico de pago y CFDI de retenciones)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        CFDI con complementos(carta porte, instituciones educativas, comercio exterior, leyendas fiscales y nóminas)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Solicitud de certificado de sellos digitales
                    </p>
                </li>                
            </ul>
        </div> 
    </div>
    <!-- Asesoria fiscal -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw]">
        <img src="https://st3.depositphotos.com/1010613/18296/i/450/depositphotos_182964042-stock-photo-businessperson-analyzing-document-clipboard-magnifying.jpg" alt="" class="rounded-t-lg md:rounded-l-lg">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-r-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Asesoría fiscal </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Consultoría y asesoría tributaria
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Evaluación de riesgos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Planeación y ahorro de impuestos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Actualización de obligaciones fiscales
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Implementacion estrategias fiscales
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Auditoria Administrativa -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw] md:justify-end">
        <img src="https://st.depositphotos.com/1010613/5117/i/600/depositphotos_51171229-stock-photo-audit-sign-rubber-stamp.jpg" alt="" class="rounded-t-lg md:rounded-r-lg md:order-last">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-l-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Auditoria administrativa </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-8 max-h-8 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Diagnóstico contable financiero
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Revision, medición y correcta aplicación de politicas internas
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Revisión de presupuestos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Auditoria de los estados financieros
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Emisión de dictamen
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Imms e Infonavit -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw]">
        <img src="https://st.depositphotos.com/1760261/1347/i/600/depositphotos_13470014-stock-photo-helping-hand.jpg" alt="" class="rounded-t-lg md:rounded-l-lg">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-r-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> IMMS e INFONAVIT </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Alta, Bajas y modificaciones del IMSS
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Determinación de salario base de cotización
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Planes de previsión social, asesoría en jubilación y pensiones
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Cálculo y presentación de la prima riesgo de trabajo
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Tramites digitales (escritorio virtual y portal empresarial)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Plataforma SIROC
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Inscripción al padrón y envió de reportes cuatrimestrales (ICSOE Y SISUB)
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Nominas -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw] md:justify-end">
        <img src="https://st4.depositphotos.com/1010613/20727/i/600/depositphotos_207271512-stock-photo-businessman-hand-giving-cheque-glass.jpg" alt="" class="rounded-t-lg md:rounded-r-lg md:order-last">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-l-lg p-4 min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Nóminas </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Cálculo y timbrado de recibos de nómina (semanal, quincenal, mensual)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Asesoría laboral (elaboración de contratos, finiquitos, atención a demandas)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Determinación y entero del impuesto sobre nómina (ISN)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Determinación de aguinaldos, PTU e indemnizaciones
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Planes de previsión social
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Devolociones de impuestos -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw]">
        <img src="https://st3.depositphotos.com/1010613/19270/i/600/depositphotos_192706544-stock-photo-close-businessperson-hand-calculating-invoice.jpg" alt="" class="rounded-t-lg md:rounded-l-lg">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-r-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Devoluciones de impuestos IVA e ISR </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Análisis Viabilidad de la devolución
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Envió de solicitud de devolución
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Seguimiento y soporte documental del acto
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Aceptación y solicitud y transferencia de fondos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Elaboración y presentación de estados financieros básicos
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Nominas -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw] md:justify-end">
        <img src="https://st2.depositphotos.com/2931363/11197/i/450/depositphotos_111977884-stock-photo-two-men-signing-papers.jpg" alt="" class="rounded-t-lg md:rounded-r-lg md:order-last">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-l-lg p-4 min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Comercio Exterior </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Trámite del padrón de importadores
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Trámite del padrón de exportadores
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Aplicativo VUCEM
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Solicitud de sellos digitales
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Actualización Encargos conferidos
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Carta Porte
                    </p>
                </li>
            </ul>
        </div> 
    </div>
    <!-- Consultoria informatica -->
    <div class="p-4 md:p-0 md:flex md:p-6 md:min-w-[33vw]">
        <img src="https://st3.depositphotos.com/1010613/19270/i/600/depositphotos_192706544-stock-photo-close-businessperson-hand-calculating-invoice.jpg" alt="" class="rounded-t-lg md:rounded-l-lg">        
        <div class="bg-white shadow-lg rounded-b-lg md:rounded-r-lg p-4 md:min-w-[40vw] md:max-w-[45vw]">
            <div class="flex justify-center">
                <span class="font-bold text-xl md:text-2xl uppercase"> Consultoría Informática </span>
            </div>              
            <ul>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Recomendación de seguridad informática (PYMES/Hogares)
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Manejo de redes seguras
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                          
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Capacitación Y Soporte CONTPAQI
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                                                    
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Capacitación de Vulnerabilidad e identificación de Malwares
                    </p>
                </li>
                <li class="flex md:p-2">
                    <button class="bg-[#003A70] rounded-lg mt-2 md:p-2 max-w-6 max-h-6 md:max-h-10 md:max-w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>                                            
                    </button>
                    <p class="mx-2 mt-2 text-md md:text-xl">
                        Elaboración y presentación de estados financieros básicos
                    </p>
                </li>
            </ul>
        </div> 
    </div>
</div>